<div class="landing-wrapper">
  <main class="landing">
    <div class="landing__copy">
      <h1>RAX</h1>
      <h2>Where's the money?</h2>
      <form action="#" class="landing__form">
        <input type="email" placeholder="name@email.com" required>
        <button type="submit"><span>Get Early Access</span></button>
      </form>
      <div class="landing__confirmation">
        <h3 class="mb-1">You’re on the list! <span>👍</span></h3>
        <p>We’ll notify you as soon<br class="d-md-none"><span class="d-none d-md-inline">&nbsp;</span>as you get access
          to RAX.</p>
      </div>
      <div class="landing__error">
        <h3 class="mb-1">An error occurred! <span>❌</span></h3>
        <p>Something happened and we couldn't add you to the list.<br>Please try again in a few moments.</p>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide landing__gallery" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/images/home.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/images/slide.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/images/leaderboard.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <ul class="footer__menu">
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="mailto:hello@rax.money">Contact</a></li>
    </ul>
    <p class="footer__copy">© 2020 RAX on RAX Inc.</p>
  </footer>
</div>